body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cell {
    height:2em;
    width: 2em;
    border: 1px solid black;
    background-color: gainsboro;

}

.covered {
    background-color: gray;
}

.board-row {
    display: flex;
}

.mine {
    background-color:red;
}

.number {
    font-size: 1em;
    font-weight: bold;
}

.one {
    color:blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four {
    color: purple;
}

.five {
    color: brown;
}

.six {
    color: turquoise;
}

.seven {
    color: black;
}

.eight {
    color: darkslategray;
}

